
@font-face {
    font-family: tengwar;
    src: url('tengwar-annatar-combined.eot');
    src: url('tengwar-annatar-combined.eot#iefix'),
         url('tengwar-annatar-combined.woff') format('woff'),
         url('tengwar-annatar-combined.ttf') format('truetype'),
         url('tengwar-annatar-combined.svg#TengwarAnnatarItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

.tengwar {
    font-family: tengwar;
    font-size: 30px;
}

body {
    color: #ff0;

    background-repeat: no-repeat;
    background: #fefcea; /* Old browsers */
    background: -moz-linear-gradient(top, #fefcea 0%, #f9e63b 7%, #e0a928 53%, #d69a2c 94%, #c97e16 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(7%,#f9e63b), color-stop(53%,#e0a928), color-stop(94%,#d69a2c), color-stop(99%,#c97e16)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fefcea 0%,#f9e63b 7%,#e0a928 53%,#d69a2c 94%,#c97e16 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fefcea 0%,#f9e63b 7%,#e0a928 53%,#d69a2c 94%,#c97e16 99%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fefcea 0%,#f9e63b 7%,#e0a928 53%,#d69a2c 94%,#c97e16 99%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#c97e16',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #fefcea 0%,#f9e63b 7%,#e0a928 53%,#d69a2c 94%,#c97e16 99%); /* W3C */

}

body, textarea {
    font-size: 25px;
}

textarea, .copy {
    font-family: monospace;
    color: black;
}

a {
    color: #a00;
    text-decoration: none;
}

a:visited {
    color: #c00;
}

a:hover {
}

a:focus {
}

#annotation table {
    border-collapse: collapse;
    margin-right: 1em;
}

#annotation td {
    border: solid 1px;
    width: 1em;
    text-align: left;
    font-size: 20px;
    padding: 2px;
    line-height: 100%;
    text-shadow: 0px 0px 10px #730 ;
    white-space: nowrap;
    font-family: monospace;
}

#output {
    text-align: center;
    line-height: 150px;
    font-size: 60px;
    width: 100%;
    text-shadow: 0px 0px 10px #730 ;
}

#output-box {
    margin-bottom: 10px;
    overflow: auto;
}

#input {
    text-align: center;
    width: 100%;
}

#about-box {
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
}

#about {
    position: relative;
}

.hbox {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-align: baseline;
    -moz-box-align: baseline;
    box-align: baseline;
}
.vbox {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}
.strut {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
}
.spring {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

