
@font-face {
    font-family: Tengwar Annatar;
    src: url('tengwar-annatar.eot');
    src: url('tengwar-annatar.eot#iefix'),
         url('tengwar-annatar.woff') format('woff'),
         url('tengwar-annatar.ttf') format('truetype'),
         url('tengwar-annatar.svg#TengwarAnnatarItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

.tengwar.annatar.rendered {
    font-family: Tengwar Annatar;
    font-size: 30px;
    line-height: 240%;
}

