
@font-face {
    font-family: tengwar;
    src: url('tengwar-annatar-combined.eot');
    src: url('tengwar-annatar-combined.eot#iefix'),
         url('tengwar-annatar-combined.woff') format('woff'),
         url('tengwar-annatar-combined.ttf') format('truetype'),
         url('tengwar-annatar-combined.svg#TengwarAnnatarItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

.tengwar {
    font-family: tengwar;
    font-size: 30px;
    line-height: 200%;
}

