body, html {
    box-sizing: border-box;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 120%;
}
body {
    margin: 2ex;
}
p {
    width: 60ex;
}
table, .case {
    border: solid black 1px;
    margin: 10px;
    padding: 10px;
}
.tables {
    display: flex;
    flex-wrap: wrap;
}

.pass {
    background-color: lightgreen;
}
.fail {
    background-color: pink;
}
